<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<OneTwoReturn_RMA>
			<version>3.4.0</version> 
		</OneTwoReturn_RMA> 
	</modules>
	<global>
		<helpers>
			<rma>
				<class>OneTwoReturn_RMA_Helper</class>
			</rma>
		</helpers> 
		<models>
        	<rma>
            	<class>OneTwoReturn_RMA_Model</class>
            	<resourceModel>rma_mysql4</resourceModel>
            </rma>
            <rma_mysql4>
                <class>OneTwoReturn_RMA_Model_Mysql4</class>
                <entities>
    				<rma><table>sales_flat_order_rma</table></rma>
    				<ritems><table>sales_flat_order_rma_items</table></ritems>
    				<rstatus><table>sales_order_rma_status</table></rstatus>
    				<rconditions><table>sales_flat_order_rma_conditions</table></rconditions>
    				<raddress><table>sales_flat_order_rma_address</table></raddress>
    				<rreutil><table>sales_flat_order_rma_reutil</table></rreutil>
                </entities>
            </rma_mysql4>
        </models>
		<blocks>
			<rma>
				<class>OneTwoReturn_RMA_Block</class>
			</rma>
			<!-- show allow RMA buttons -->
			<adminhtml>
                <rewrite>
        			<sales_order_creditmemo_create_items>OneTwoReturn_RMA_Block_Adminhtml_Sales_Order_Creditmemo_Create_Items</sales_order_creditmemo_create_items>
        			<sales_items_renderer_default>OneTwoReturn_RMA_Block_Adminhtml_Sales_Items_Renderer_Default</sales_items_renderer_default>
        			<sales_items_column_qty>OneTwoReturn_RMA_Block_Adminhtml_Sales_Items_Column_Qty</sales_items_column_qty>
        			<sales_order_view>OneTwoReturn_RMA_Block_Adminhtml_Sales_Order_View</sales_order_view>
    			</rewrite>		
         	</adminhtml>
		</blocks> 
		<events>
			<sales_order_creditmemo_save_after>
            	<observers>
                	<rma>
                    	<type>singleton</type>
                    	<class>OneTwoReturn_RMA_Model_Observers_Creditnota</class>
                    	<method>changeRmaStatus</method>
                	</rma>
            	</observers>
			</sales_order_creditmemo_save_after>
		</events>
		<resources>
			<rma_setup>
				<setup> 
					<module>OneTwoReturn_RMA</module>
				</setup> 
				<connection>
            		<use>core_setup</use>
        		</connection>
			</rma_setup>
			
			<rma_write>
				<connection>
					<use>core_write</use>
				</connection>
			</rma_write>
			
			<rma_read>
				<connection>
					<use>core_read</use>
				</connection>
			</rma_read>
			
		</resources>
	</global>
	<frontend>
		<routers>
			<rma>
				<use>standard</use>
				<args>
					<module>OneTwoReturn_RMA</module>
					<frontName>12return</frontName>
				</args>
			</rma>
		</routers>   
		<layout>
			<updates>
				<rma>
					<file>onetworeturn_rma.xml</file>
				</rma> 
			</updates>
		</layout>
		<translate>
			<modules>
				<OneTwoReturn_RMA>
					<files>
						<default>OneTwoReturn_RMA.csv</default>
					</files>
				</OneTwoReturn_RMA>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<rma>
				<use>admin</use>
				<args>
					<module>OneTwoReturn_RMA</module>
					<frontName>12return</frontName>
				</args>
			</rma>
			<adminhtml>
                <args>
                    <!-- This is how we load our Adminhtml controllers -->
                    <modules>
                        <rma before="Mage_Adminhtml">OneTwoReturn_RMA_Adminhtml</rma>
                    </modules>
                </args>
            </adminhtml>
		</routers>   
		<translate>
			<modules>
				<OneTwoReturn_RMA>
					<files>
						<default>OneTwoReturn_RMA.csv</default>
					</files>
				</OneTwoReturn_RMA>
			</modules>
		</translate>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<OneTwoReturn_RMA>
					<files>
						<default>OneTwoReturn_RMA.csv</default>
					</files>
				</OneTwoReturn_RMA>
			</modules>
		</translate>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<sales>
							<children>
								<menurma>
									<title>RMA overview</title>
									<children>
										<rma_allow_check_cancel>
											<title>Allow to check or cancel a RMA</title>
										</rma_allow_check_cancel>
									</children>	
								</menurma>
								<order>
									<children>
										<actions>
											<children>
												<rma_allow>
													<title>Allow/Disallow Exchange RMA for specific order</title>
												</rma_allow>
												<rma_warranty_allow>
													<title>Allow/Disallow Warranty RMA for specific order</title>
												</rma_warranty_allow>
											</children>
										</actions>
									</children>	
								</order>
							</children>
						</sales>
						<system>
                            <children>
                                <config> 
                                    <children>
                                        <rma module="rma">
                                            <title>12Return</title>
                                        </rma>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<rma>
					<file>onetworeturn_rma.xml</file>
				</rma> 
			</updates>
		</layout>
	</adminhtml>
	<default>
		<rma>
			<returnoptions>
				<introtext><![CDATA[Welcome at our RMA process powered by 12Return. Here you can register a return and print the return label. Once we have received the return we will process and settle if with you as soon as possible. You can follow the return status by re-opening the order.]]></introtext>
				<thankstext><![CDATA[Thanks for your return registration. Here is your return label. Please carefully read the return instructions.Once we have received the return we will process and settle if with you as soon as possible. You can follow the return status by re-opening the order.]]></thankstext>
				<serverhost>production</serverhost>
				<labelview>1</labelview>
				<pluginenabled>0</pluginenabled>
				<debugmode>0</debugmode>
				<pricevat>inc</pricevat>
			</returnoptions>
			<view>
				<labelname>View and Exchange</labelname>
				<orderdays>14</orderdays>
				<enabled>0</enabled>
				<selectiverma>all</selectiverma>
				<allowstatus>complete,rma_cancelled,rma_complete,rma_created,processing,closed</allowstatus>
				<daysfrom>lastshipment</daysfrom>
				<dynamic_enabled>0</dynamic_enabled>
				<refund_enabled>0</refund_enabled>
				<withdrawal_enabled>1</withdrawal_enabled>
				<withdrawal_label><![CDATA[I hereby give notice that I withdraw from my contract of sale of the following goods:]]></withdrawal_label>
				<withdrawal_message><![CDATA[Your withdrawal form is submitted]]></withdrawal_message>
				<withdrawal_view>1</withdrawal_view>
				<withdrawal_notify>1</withdrawal_notify>
				<coupon_name><![CDATA[12Return - RMA #{RMAREF}]]></coupon_name>
				<coupon_length>12</coupon_length>
				<coupon_view>1</coupon_view>
				<coupon_notify>1</coupon_notify>
				<coupon_message><![CDATA[Your voucher code is: {VOUCHER_CODE}]]></coupon_message>
				<refund_label_exchange><![CDATA[Coupon (exchange)]]></refund_label_exchange>
				<refund_label_cashback><![CDATA[Cashback]]></refund_label_cashback>
				<refund_help><![CDATA[Please select your preferred refund method. You can always choose to have your money back. Select the the voucher option if you plan to exchange the product for a different version or want to buy another product with us. You will receive a voucher code after we have received the returned product(s). You can use this voucher with your next purchase.]]></refund_help>
			</view>
			<warranty>
				<labelname>Warranty</labelname>
				<orderdays>14</orderdays>
				<enabled>0</enabled>
				<selectiverma>all</selectiverma>
				<allowstatus>complete,rma_cancelled,rma_complete,rma_created,processing,closed</allowstatus>
				<daysfrom>lastshipment</daysfrom>
				<dynamic_enabled>0</dynamic_enabled>
			</warranty>
			<communication>
				<created_notify>0</created_notify>
				<created_view>1</created_view>
				<completed_notify>1</completed_notify>
				<completed_view>1</completed_view>
				<cancelled_notify>1</cancelled_notify>
				<cancelled_view>1</cancelled_view>
				<created_message><![CDATA[We have created your return with number {RMAREF}.You have received a separate mail with the return label. If you want to reprint the label you can also do it here {LINK_LABEL}.Thank you for using our returns service. We will keep you updated about the further returns processing.]]></created_message>
				<completed_message><![CDATA[We have received and checked your return with number {RMAREF}.]]></completed_message>
				<cancelled_message><![CDATA[We have cancelled your return with number {RMAREF} as we have never received it.]]></cancelled_message>
			</communication>
			<advanced>
				<statusurl>https://status.12return.eu/{RMAREF}</statusurl>
				<productionurl>https://ws.12return.eu</productionurl>
				<productionport>443</productionport>
				<testurl>https://ws.test.12return.eu</testurl>
				<testport>4443</testport>
			</advanced>
		</rma>
	</default>
</config>